*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.box1{
    width: 100%;
    height: 99vh;
    border: 1px solid black;
     background-image: url("../assets/flight.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.form-wrapper{

    position: relative;
    width: 400px;
    height: 500px;
    background-color:white;
   display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: left .5s ease-in-out;
}


h2{
    font-size: 30px;
   color:#1F3C88;
    text-align: center;
}
.input-group{
    position: relative;
    margin: 30px 0;


}
.input-group label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform:translateY(-50%);
    font-size: 16px;
    color: #333;
    padding: 0 5px;
    pointer-events: none;
    transition: .3s;
}
.input-group input{
    width: 320px;
    height: 40px;
font-size: 16px;
color: #333;
padding: 0 10px;
background: transparent;
border: 1px solid #333;
outline: none;
border-radius: 5px;
}
.input-group input:focus~label,
.input-group input:valid~label{
    top: 0;
    font-size: 12px;
    background-color: #fff;
    color: #1F3C88;
}


.remember{
    margin: -15px 0 15px ;
}
.remember label{
    color: #333;
    font-size: 15px;
}
.remember label input{
    accent-color:#1F3C88 ;
} 
.btn{
    position: relative;
    top:0;
    left:0;
    width:100%;
    height: 40px;
    background-color: #1F3C88;
    box-shadow: 0 5px 10px #1F3C88;
    font-size: 16px;
    color:#fff;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    outline: none;
}

.sign-link{
    font-size: 14px;
    text-align: center;
    margin: 25px 0;

}
.sign-link{
    color: #333;
}
.sign-link p a{
    color: #1F3C88;
    text-decoration: none;
    font-weight:600;
}
.sign-link p a:hover{
    text-decoration: underline;
}

/*--- sign up page*/
.form-wrapper-sign-up{
    transform: translateX(850px);
}
.form-wrapper-sign-up{
    background-color: #fff;
     position: relative;
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.form-wrapper-sign-up {
    transform: translateX(850px);
    transition: 0.5s;
}

.box1.show-sign .form-wrapper {
    transform: translateX(-850px);
}

.box1.show-sign .form-wrapper-sign-up {
    transform: translateX(0);
}
button{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 150px;
    height: 50px;
   background-color: #fff;
   border-radius: 10px;
   border: none;
   outline: none;
   cursor: pointer;
   font-size: 25px;
   color: #1F3C88;
   font-weight: 700;
   z-index: 1;
   transition: 1.0s ease-in-out;
}
.toggle-login {
  transition: 1.5s ease-in-out;
}

.toggle-login.active {
  transform: scale(0);
}
